/obj/
/tests/obj/
/tests/bin
/tests/test
/minishell
.DS_Store
/libft/obj
*.o

libs/googletest/build/
libs/googletest/xcuserdata
libs/googletest/cmake-build-debug/
libs/googletest/.idea/
libs/googletest/bazel-bin
libs/googletest/bazel-genfiles
libs/googletest/bazel-googletest
libs/googletest/bazel-out
libs/googletest/bazel-testlogs

libs/googletest/*.pyc


libs/googletest/.vs
libs/googletest/*.sdf
libs/googletest/*.opensdf
libs/googletest/*.VC.opendb
libs/googletest/*.suo
libs/googletest/*.user
libs/googletest/_ReSharper.Caches/
libs/googletest/Win32-Debug/
libs/googletest/Win32-Release/
libs/googletest/x64-Debug/
libs/googletest/x64-Release/


libs/googletest/Makefile.in
libs/googletest/aclocal.m4
libs/googletest/configure
libs/googletest/build-aux/
libs/googletest/autom4te.cache/
libs/googletest/googletest/m4/libtool.m4
libs/googletest/googletest/m4/ltoptions.m4
libs/googletest/googletest/m4/ltsugar.m4
libs/googletest/googletest/m4/ltversion.m4
libs/googletest/googletest/m4/lt~obsolete.m4
libs/googletest/googlemock/m4


libs/googletest/googlemock/fused-src/
libs/googletest/googletest/fused-src/


libs/googletest/.DS_Store
libs/googletest/googletest/.DS_Store
libs/googletest/googletest/xcode/.DS_Store


libs/googletest/CMakeFiles
libs/googletest/CTestTestfile.cmake
libs/googletest/Makefile
libs/googletest/cmake_install.cmake
libs/googletest/googlemock/CMakeFiles
libs/googletest/googlemock/CTestTestfile.cmake
libs/googletest/googlemock/Makefile
libs/googletest/googlemock/cmake_install.cmake
libs/googletest/googlemock/gtest
libs/googletest/bin
libs/googletest/googlemock/gmock.dir
libs/googletest/googlemock/gmock_main.dir
libs/googletest/googlemock/RUN_TESTS.vcxproj.filters
libs/googletest/googlemock/RUN_TESTS.vcxproj
libs/googletest/googlemock/INSTALL.vcxproj.filters
libs/googletest/googlemock/INSTALL.vcxproj
libs/googletest/googlemock/gmock_main.vcxproj.filters
libs/googletest/googlemock/gmock_main.vcxproj
libs/googletest/googlemock/gmock.vcxproj.filters
libs/googletest/googlemock/gmock.vcxproj
libs/googletest/googlemock/gmock.sln
libs/googletest/googlemock/ALL_BUILD.vcxproj.filters
libs/googletest/googlemock/ALL_BUILD.vcxproj
libs/googletest/lib
libs/googletest/Win32
libs/googletest/ZERO_CHECK.vcxproj.filters
libs/googletest/ZERO_CHECK.vcxproj
libs/googletest/RUN_TESTS.vcxproj.filters
libs/googletest/RUN_TESTS.vcxproj
libs/googletest/INSTALL.vcxproj.filters
libs/googletest/INSTALL.vcxproj
libs/googletest/googletest-distribution.sln
libs/googletest/CMakeCache.txt
libs/googletest/ALL_BUILD.vcxproj.filters
libs/googletest/ALL_BUILD.vcxproj




libs/readline/Makefile

libs/readline/*.o
libs/readline/*.a
libs/readline/*.so
libs/readline/*.sl
libs/readline/*.dll

libs/readline/config.cache
libs/readline/config.h
libs/readline/config.log
libs/readline/config.status

libs/readline/doc/Makefile
libs/readline/examples/Makefile
libs/readline/shlib/Makefile

libs/readline/examples/fileman
libs/readline/examples/hist_erasedups
libs/readline/examples/hist_purgecmd
libs/readline/examples/histexamp
libs/readline/examples/rl
libs/readline/examples/rl-callbacktest
libs/readline/examples/rlbasic
libs/readline/examples/rlcat
libs/readline/examples/rlevent
libs/readline/examples/rltest
libs/readline/examples/rlversion

libs/readline/libhistory.so.*
libs/readline/libreadline.so.*

libs/readline/*.dylib

libs/readline/readline.pc

libs/readline/stamp-h


libft/obj
libft/libft.a
