[submodule "libft"]
	path = libft
	url = git@github.com:ytkimirti/libft.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/readline"]
	path = libs/readline
	url = https://github.com/sailfishos-mirror/readline
